* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header img {
  position: relative;
  top: 38px;
  left: 108px;
}
.section1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section1 img {
  width: 714px;
  height: 503px;
  position: relative;
  top: 130px;
  left: -196px;
}
.form {
  width: 440px;
  height: 380px;
  border-radius: 10px;
  border: 0.5px solid #b0b0b0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 20px;
}
.form .heading {
  font-family: Ubuntu;
  font-size: 18px;
  font-weight: 500;
  line-height: 20.68px;
  text-align: center;
  color: #cb1c1f;
  width: 188px;
  height: 5px;
}
.form .para {
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: 300px;
  line-height: 19.79px;
  text-align: center;
  color: #2e2e2e;
  width: 328px;
  height: 28px;
}
.form input {
  border: 0.5px solid #b0b0b0;
  border-radius: 5px;
  padding-left: 32px;
  margin-bottom: -12px;
}

.form #fstName {
  margin-right: 9px;
}
.form .texts {
  width: 203px;
  height: 40px;
  background-image: url("/user.png");
  background-position: 12px 12px;
  background-repeat: no-repeat;
  background-size: 12px;
  outline: none;
}
.section1 input[type="text"]:focus {
  border: 1px solid #cb1c1f;
}
.form .passwords {
  width: 416px;
  height: 40px;
  background-image: url("/lock.png");
  background-position: 12px 9px;
  background-repeat: no-repeat;
  background-size: 12px;
  outline: none;
}

.section1 input[type="password"]:focus {
  border: 1px solid #cb1c1f;
}
.form input[type="email"] {
  width: 416px;
  height: 40px;
  background-image: url("/email.png");
  background-position: 12px 13px;
  background-repeat: no-repeat;
  background-size: 12px;
  outline: none;
}
.section1 input[type="email"]:focus {
  border: 1px solid #cb1c1f;
}
.form #rePswrd {
  background-image: url("/lock.png");
  background-position: 12px 9px;
  background-repeat: no-repeat;
  background-size: 12px;
}
.section2 {
  position: relative;
}

.section2 .toggle-password {
  position: absolute;
  transition: background-image 0.3s ease;
  right: 12px;
  top: 50%;
  width: 18px;
  height: 15px;
  background-image: url("/danger.png"); /* Default icon */
  background-size: cover;
  cursor: pointer;

  /* Smooth transition */
}

::placeholder {
  color: #b0b0b0;
}
.form .account {
  border: none;
  background-color: #cb1c1f;
  color: white;
  font-family: Ubuntu;
  font-size: 20px;
  font-weight: 400;
  line-height: 16.09px;
  text-align: center;
  width: 416px;
  height: 40px;
  border-radius: 35px;
}
.form .account:hover {
  cursor: pointer;
  background-color: white;
  border: 1px solid black;
  color: black;
}
.login {
  border: 0.5px solid #b0b0b0;
  border-radius: 20px;
  color: #b0b0b0;
  background-color: white;
  padding: 10px 33px;
  position: relative;
  left: 70%;
  top: -50px;
}
.login:hover {
  cursor: pointer;
  background-color: #cb1c1f;
  color: white;
}

@media (max-width: 480px) {
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top:50px;
  }
  .header img {
    position: relative;
    left: unset;
    top: 20px;
  }
  .section1 img {
    display: none;
  }

  .section1 .form {
    border: unset;
    position: relative;
    top: 83px;
    margin: unset;
    padding-bottom: unset;

  }
  .form .heading {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 10px;
  }
  .form .para {
    display: none;
  }

  .form input {
    border-radius: 5px;
  }
  .form .account {
    padding: 12px;
    width: 40%;
    font-size: 14px;
    width: 61%;
  }
  .form input[type="text"] {
    width: 61%;
  }
  .form #fstName {
    margin-right: unset;
  }
.form .passwords{
  width: 101%;
}

  
  .form input[type="email"] {
    width: 61%;
  }
  .login {
    
    position: relative;
    left: 35%;
    top:84px
  }
  .section2{
    width: 61%;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top:60px;
    
  }
  .header img {
    position: relative;
    left: unset;
    top: 20px;
  }
  .section1 .form {
    border: unset;
    position: relative;
    top: 80px;
  }
  .section1 img {
    display: none;
  }
  .form input[type="text"] {
    width: 46%;
  }
  .form input[type="password"] {
    width: 61%px;
  }
  .form .account {
    padding: 12px;
    width: 70%;
    font-size: 16px;
    width: 61%;
  }
  .form .para {
    line-height: 20.68px;
  }
  .login {
    margin-top: 60px;
    position: relative;
    left: 43%;
top:-9px;
  }
  .section2{
    width: 95%;
  }
    .form .passwords {
    width: 100%;
  }

}
@media (min-width: 768px) and (max-width: 1024px) {
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top:50px;
  }
  .form #fstName {
    margin-right: unset;
  }

  .header img {
    position: relative;
    left: unset;
    top: 25px;
  }
  .section1 .form {
    border: unset;
    position: relative;
    top: 90px;
    height: 450px;
  }
  .section1 img {
    display: none;
  }
  .section1 .para {
    line-height: 23px;
    margin-bottom: 10px;
  }

  .form input[type="text"] {
    width: 95%;
  }
  .form input[type="email"] {
    width: 95%;
  }
  .section2 {
    position: relative;
    width: 95%;
}
  .form .passwords {
    width: 100%;
  }
  .form .account {
    padding: 12px;
    width: 70%;
    font-size: 16px;
    width: 61%;
  }
  .login {
  
    position: relative;
    left: 44%;
    top:72px;
  }
}
@media (min-width: 1025px) and (max-width: 1280px) {
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 30px;
  }
  .header img {
    left: unset;
    top: 5px;
  }
  .section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: unset;
  }
  .section1 img {
    display: none;
  }
  .section1 .form {
    position: relative;
    top: 60px;
  }
  .section1 .para {
    line-height: 23px;
  }
  .form .account {
    padding: 12px;
    width: 70%;
    font-size: 16px;
    width: 61%;
  }

  .login {
    position: relative;
    left: 45%;
    top: 69px;
  }
}
@media (min-width: 2560px) {
  .section1 img {
    width: 800px;
    height: 500px;
    position: relative;
    top: 432px;
    left: -659px;
  }
  .login {
    left: 1628px;
    top: 91px;
  }
  .section1 .para {
    line-height: 18px;
  }
  .section1 .form {
    position: relative;

    top: 140px;
  }
}
